# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Python build
build/
dist/
*.egg-info/

# SQLite (if ever used)
*.db